.container {
  position: relative;
  flex: 1;
  overflow: hidden;
  background-color: #21ba44;
}

.image {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.buttonContainer {
  position: absolute;
  top: 150px;
  left: 40px;
  width: 220px !important;
}

.closeDate {
  position: absolute;
  font-weight: bold;
  top: 200px;
  width: 100%;
  color: white;
  font-size: 15px;
  text-align: center;
}