.Root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.List {
  margin: 0 10px;
  flex-shrink: 0;
  display: flex;
}

.Trigger {
  all: unset;
  position: relative;
  height: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  padding: 0 20px;
  margin: 0 5px;
  margin-top: 10px;
  &[data-state="active"] {
    position: relative;
    font-weight: bold;
    border-bottom: solid 2px #9F74C0;
  }
  &:focus {
    position: relative;
    font-weight: bold;
    border-bottom: solid 2px #9F74C0;
  }
}

.Trigger::after {
  content: attr(data-label);
  font-weight: bold;
  visibility: hidden;
  display: block;
  height: 0;
  overflow: hidden;
}

.Content {
  flex-grow: 1;
  padding: 20px;
  outline: none;
  overflow: auto;
}
