# Firebase config
FIREBASE_API_KEY=example
FIREBASE_AUTH_DOMAIN=example
FIREBASE_DATABASE_URL=example
FIREBASE_PROJECT_ID=example
FIREBASE_STORAGE_BUCKET=example
FIREBASE_MESSAGING_SENDER_ID=example
FIREBASE_APP_ID=example
FIREBASE_MEASUREMENT_ID=example

# Slippi endpoints
SLIPPI_WS_SERVER=example
SLIPPI_GRAPHQL_ENDPOINT=example

# MacOS signing
APPLE_TEAM_PROVIDER_ID=example
APPLE_API_KEY=example
APPLE_ISSUER_ID=example
CSC_LINK=example
CSC_KEY_PASSWORD=example