# The default installation timeout is 30s and some big packages
# like the @material-ui/icons package can take longer than that
# to install. So manually increase the timeout to avoid such issues.
# For more info, see: https://github.com/mui-org/material-ui/issues/12432#issuecomment-411046157

network-timeout 500000