.bound-link {
  display: contents;
}

.metadata-display {
  .label {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 4px;
  }

  .value {
    color: rgba(255, 255, 255, 0.7);
  }

  .separator {
    color: rgba(255, 255, 255, 0.5);
  }
}

.actions-cell {
  text-align: center;

  button>i {
    color: #94969A;
  }

  button:hover {
    i {
      color: #FFFFFF;
    }
  }
}

.select-cell {
  margin: 6px !important;

  i {
    color: #94969A;
  }

  i:hover {
    color: #FFFFFF;
    cursor: pointer;
  }

  &.selected {
    i {
      color: rgba(255, 255, 255, 0.75);
    }

    i:hover {
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  .pos-text {
    margin-left: 4px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
  }
}

.vs-element {
  color: rgba(255, 255, 255, 0.5);
  line-height: 0.8;
  width: 14px;
  height: 15px;
  text-align: center;
}
