.bound-link {
  display: contents;
}

.metadata-display {
  .label {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 4px;
  }

  .value {
    color: rgba(255, 255, 255, 0.7);
  }

  .separator {
    color: rgba(255, 255, 255, 0.5);
  }
}

.actions-cell {
  text-align: center;

  button > i {
    color: #94969a;
  }

  button:hover {
    i {
      color: #ffffff;
    }
  }
}

.select-cell {
  margin: 6px !important;

  i {
    color: #94969a;
  }

  i:hover {
    color: #ffffff;
    cursor: pointer;
  }

  &.selected {
    i {
      color: rgba(255, 255, 255, 0.75);
    }

    i:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }

  .pos-text {
    margin-left: 4px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
  }

  .select-content-wrapper {
    margin-left: 10px;
  }
  
}

.vs-element {
  color: rgba(255, 255, 255, 0.5);
  line-height: 0.8;
  width: 14px;
  height: 15px;
  text-align: center;
}

.reveal-file-location {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.select-all-icon {
  text-align: center;
}

:focus {
  outline: 0;
}

.queue-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

