@import "../colors.global.scss";

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  align-content: stretch;
}

.sidebar {
  position: fixed;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: $separator;
  background: $background-darkest;
  display: grid;
  overflow-y: auto;
  width: 200px;
}

.empty-sidebar-content {
  margin-top: 70px;
  justify-self: center;
}

.empty-loader-content {
  margin-top: 70px;
}

.file-table {
  user-select: none;
  min-width: 600px;
}

.secondary-text {
  color: rgba(255, 255, 255, 0.6) !important;
}

.player-names {
  // margin: 0 !important;
  // padding: 0 0 14px 0 !important;

  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  div:not(:last-child) {
    border-right-color: rgba(255, 255, 255, 0.5);
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 6px;
  }

  div:not(:first-child) {
    padding-left: 6px;
  }
}

.loader {
  margin-top: 48px !important;
}

.loader-main {
  position: relative;
}

.queue-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.show-anyway {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.select-cell {
  margin-left: 10px !important;

  i {
    color: #94969A;
  }

  i:hover {
    color: #FFFFFF;
    cursor: pointer;
  }

  &.selected {
    i {
      color: rgba(255, 255, 255, 0.75);
    }

    i:hover {
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  .pos-text {
    margin-left: 4px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
  }
}

.table-header {
  font-size: 1.2em;
}
