@import "../colors.global.scss";

.container {
  max-width: 700px !important;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 48px;
}

.expand-toggle {
  color: $foreground !important;
  text-align: center;
}

.version {
  position: relative;
  bottom: -10px;
  right: -10px;
}

.iso-selection-container {
  position: relative;
}

.iso-version-check {
  position: absolute;
  bottom: 3px;
  right: 50px;
  text-align: right;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;

  .iso-verify-text {
    margin-right: 6px;
    position: relative;
    font-weight: bold;
    top: 1px;
  }

  &.validating {
    color: #A3A3A3 !important;
  }

  &.success {
    color: #21BA45 !important;
  }

  &.fail {
    color: #DB2828 !important;
  }

  &.unknown {
    color: #EED202 !important;
  }
}
