.container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 16px;
  height: 100%;
}

.rankedSidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.myRankingContainer {
  display: flex;
  height: 220px;
  width: 100%;
}

@media (height <= 850px) {
  .myRankingContainer {
    height: 130px;
  }
}
