.container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 16px;
  height: 100%;
}

.rankedSidebar {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 16px;
}