:root {
  --green-primary: #72d07f;
  --purple-primary: #b984bb;

  /* Home / launch page */
  --gray-dark: #222;
  --green-bright: #39d05d;
  --green-dark: #21BA45;
  --green-darker: #208E2C;
  --purple-lighter: #9f74c0;
  --purple-light: #8665A0;
  --purple: #310057;
  --purple-dark: #29133B;
  --purple-darker: #1B0B28;
  --off-gray: #2D313A;
  --off-white: #E0E0E0;

  /* From slippi website */
  --text-primary: #E9EAEA;
  --text-secondary: #B4B4B4;
  --text-dim: #939599;
  --text-very-dim: #5E6066;
}