@import "fonts";
@import "scrollbar";

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  color: white;
  background-color: #1B0B28,
}

*,
*::after,
*::before {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);

  /**
   * This should only affect rendering on macOS. Light text on dark backgrounds can appear
   * to render in a less-than-ideal-manner on macOS due to the way font rendering works on 
   * that platform. Setting this across the board makes the text on the app much more readable.
   *
   * For more context: https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
   */
  -webkit-font-smoothing: antialiased;

  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
