.Root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.BlurredLayer {
  position: absolute;
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  object-fit: cover;
  filter: blur(20px);
}

.SharpLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
