@import "../../colors.global.scss";

.info-text {
  font-size: 14px;
  font-weight: normal;
  color: $foreground;
}

.search-icon {
  margin-right: -9px;
}

.search-bar {
  width: 200px;
  height: 36px;
  font-size: 16px !important;
  margin-bottom: 5px;
}