.container {
  display: grid;
  grid-gap: 6px 6px;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;

  &.vertical {
    grid-auto-flow: row;
    grid-template-columns: 100%;
  }

  &.xs {
    grid-gap: 3px 3px;
  }
  
  &.sm {
    grid-gap: 6px 6px;
  }

  &.md {
    grid-gap: 9px 9px;
  }

  &.lg {
    grid-gap: 15px 15px;
  }

  &.none {
    grid-gap: 0 0;
  }
}