.button {
  margin-left: 8px;
  width: auto;
}

.ipAddress {
  padding: 4px 8px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 40%);
  font-size: 1em;
  margin: 8px 0;
}

.body {
  margin-bottom: 1em;
}