.inlineContainer {
  padding: 2px 6px;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 5px;
  position: relative;
}

.container {
  font-size: 15px;
  padding: 20px 30px;
  padding-right: 50px;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 5px;
  position: relative;
}

.code {
  color: #999;
  line-height: 1.5em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.buttonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.visible {
  opacity: 1;
}