name: Release Builds

on:
  push:
    branches:
        - master
        - CI
    paths-ignore:
        - "**.md"
        - "**.ini"

jobs:
  package:
    name: Build and package on node ${{ matrix.node-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        include:
          - os: windows-latest
            playback_image: windows64-playback
            playback_dolphin_path: app/dolphin-dev/windows/
          - os: ubuntu-latest
            playback_image: linux-playback
            playback_dolphin_path: app/dolphin-dev/linux/
          - os: macOS-latest
            playback_image: macOS-playback
            playback_dolphin_path: app/dolphin-dev/osx/
    steps:
      - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Fetch Git Tags
        if: success()
        shell: bash
        run: |
          git fetch --prune --unshallow
          echo ::set-env name=GIT_BRANCH::$(git rev-parse --abbrev-ref HEAD)
          echo ::set-env name=GIT_HASH::$(git rev-parse --short HEAD)
          echo ::set-env name=GIT_TAG::$(git describe --tags --abbrev=0)
      - name: Cache node modules
        uses: actions/cache@v1
        id: cache
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          yarn install
      - name: Download playback artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: pr-build.yml
          branch: slippi
          name: ${{ matrix.playback_image }}
          path: ${{ matrix.playback_dolphin_path }}
          repo: project-slippi/Ishiiruka
      - name: Unzip
        shell: bash
        working-directory: ${{ matrix.playback_dolphin_path }}
        run: |
          unzip *
          rm *.zip
      - name: Package
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          yarn package
          mkdir artifact
          cp ./release/Slippi* ./artifact
        env:
          USE_HARD_LINKS: false
      - name: Publish
        if: success()
        uses: actions/upload-artifact@v2-preview
        with:
          name: ${{ matrix.os }}
          path: "./artifact/"
      